@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";

:root {
  /* 🎨 Colors */
  --color-one: #89191c;
  --color-two: #222c35;
  --color-three: #ececec;

  --color-visited: #551719;
  --color-button: #89191c;
  --color-hover: #a8181c;
  --color-focus: #ea181d;

  --color-white: #ffffff;
  --black: var(--color-two);
  --gray: var(--color-three);
  --gray-dark: #c0c0c0;
  --text: #686868;

  --shadow-drop: 4px 4px 12px rgba(0, 0, 0, 0.25);
  --gradient: linear-gradient(180deg, #a8181c 0%, #89191c 100%);
  .color-one {
    color: var(--color-one);
  }

  --bg-even: linear-gradient(
      180deg,
      rgba(236, 236, 236, 0.5) 0%,
      rgba(236, 236, 236, 0.5) 100%
    ),
    url(/img/bg_blur.png) lightgray 50% / cover no-repeat;

  // @media (prefers-color-scheme: dark) {
  //   --color-two: #dfdfdf;
  //   --color-three: #252525;
  //   --color-white: #1f1f1f;
  //   --text: #c4c4c4;
  //   --bg-even: #363636;
  //   --shadow-drop: 4px 4px 12px #00000091;
  //   --gray: #252525;
  //   --gray-dark: #363636;
  // }

  /* 📦 Container */
  --content-width: 1190px;
  --padding-screen: 120px 64px;
  --padding-header: 60px;
  --border-radius: 8px;

  /* 🔠 Typography */
  --font-header: "Open Sans";
  --font-text: "Open Sans";
  --header-transform: uppercase;
  --h1: 47px;
  --h2: 38px;
  --h3: 30px;
  --h4: 22px;
  --h5: 18px;
  --h6: 1rem;
  --label: 1rem;
  --p: 1rem;

  /* 📐 Grid */
  --col: 90px;
  --gap: 10px;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 3rem;

  .page {
    width: 100%;
  }

  // ===========================
  // 🔠 Typography
  // ===========================

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-two);
    font-family: var(--font-header);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: var(--header-transform);
    width: clamp(0px, -webkit-fill-available, 100%);
    //вернуться
  }

  h1 {
    font-size: var(--h1);
  }
  h2 {
    font-size: var(--h2);
  }
  h3 {
    font-size: var(--h3);
  }
  h4 {
    font-size: var(--h4);
  }
  h5 {
    font-size: var(--h5);
  }
  h6 {
    font-size: var(--h6);
  }

  p,
  a {
    color: var(--text);
    font-family: var(--font-text);
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  p b {
    font-weight: bold;
    color: var(--color-two);
  }
  a {
    color: var(--color-button);
    &:hover {
      color: var(--color-hover);
    }
    &:active,
    &:focus {
      color: var(--color-focus);
    }
  }
  b,
  .bold {
    font-weight: bold;
  }
}

// ===========================
// 📐 Layout
// ===========================

.screen {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  // align-items: flex-start;
  // align-self: stretch;
  padding: var(--padding-screen);
  background: var(--color-white);
  flex-wrap: nowrap;
  max-width: 100%;
}

.screen:nth-child(2n-1) {
  background: var(--bg-even);
}

.screen > .content,
header .content {
  display: flex;
  width: var(--content-width);
  min-width: 290px;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--gap-lg) var(--gap);
  flex-wrap: wrap;
  margin: auto;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--gap);
  // row-gap: 60px;
}

.row.stretch {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}

.col-1 {
  max-width: calc(var(--col));
}
.col-2 {
  max-width: calc(var(--col) * 2 + var(--gap));
}
.col-3 {
  max-width: calc(var(--col) * 3 + var(--gap) * 2);
}
.col-5 {
  max-width: calc(var(--col) * 5 + var(--gap) * 4);
}
.col-6 {
  max-width: calc(var(--col) * 6 + var(--gap) * 5);
}
.col-7 {
  max-width: calc(var(--col) * 7 + var(--gap) * 6);
}
.col-8 {
  max-width: calc(var(--col) * 8 + var(--gap) * 7);
}
.col-9 {
  max-width: calc(var(--col) * 9 + var(--gap) * 8);
}
.col-10 {
  max-width: calc(var(--col) * 10 + var(--gap) * 9);
}
.col-11 {
  max-width: calc(var(--col) * 11 + var(--gap) * 10);
}
.col-11 {
  max-width: calc(var(--col) * 12 + var(--gap) * 11);
}

@media (max-width: 1189px) {
  :root {
    --content-width: 100%;
    --padding-screen: 64px 36px;
    --padding-header: 12px;
    --h1: 28px;
    --h2: 24px;
    --h3: 20px;
    --h4: 18px;
    --h5: 16px;
  }

  .hero {
    order: -1;
  }
  .screen > .content,
  .screen:not(#about) > .content > .row {
    justify-content: center; // костыль для центрирования на широких мобилах диасов
    // row-gap: 10px;
  }

  header {
    display: none !important;
  }
  .screen > .content {
    // row-gap: 64px !important;
    max-width: 290px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button {
    max-width: 290px !important;
    // text-align: center;
  }

  .tug {
    p,
    h3 {
      text-align: left;
      width: 100% !important;
    }
  }

  // Фиксы

  #solutions {
    .card {
      margin-top: 2rem;
    }

    .card.col-3.fix {
      height: 460px;
      margin-top: 2rem;
      img {
        position: relative;
        left: 3rem;
        top: -5rem;
      }
    }
  }
  #solutions .fix .wrap {
    /* vertical-align: bottom; */
    margin-bottom: 0;
  }

  #contacts .row {
    // row-gap: 30px !important;
  }

  #contacts button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .hero button {
    margin-top: 1rem;
  }

  #solutions .row {
    // row-gap: 64px !important;
  }

  .wrap {
    // margin: auto;
  }

  img {
    max-width: var(--content-width);
  }

  .desktop {
    display: none;
  }
}
